<a href="https://colab.research.google.com/github/Ramkirks/My_Python-Code/blob/main/Linear_Regression_Model_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![linear model.jpg]()

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
from numpy import math

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

import matplotlib.pyplot as plt

In [5]:
df=pd.DataFrame({'y':[3.8,5.6,6,5,5.8,5.6],'x1':[7.5,12,13.5,16.5,19.5,21],'x2':[6,9,10.5,18,21,25.5]})

In [6]:
df

     y    x1    x2
0  3.8   7.5   6.0
1  5.6  12.0   9.0
2  6.0  13.5  10.5
3  5.0  16.5  18.0
4  5.8  19.5  21.0
5  5.6  21.0  25.5

In [13]:
X=df.loc[:,["x1","x2"]]

In [15]:
Y=df.loc[:,"y"]

In [14]:
X

     x1    x2
0   7.5   6.0
1  12.0   9.0
2  13.5  10.5
3  16.5  18.0
4  19.5  21.0
5  21.0  25.5

In [17]:
Y

0    3.8
1    5.6
2    6.0
3    5.0
4    5.8
5    5.6
Name: y, dtype: float64

In [18]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [19]:
# Fitting Multiple Linear Regression to the Training set
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [20]:
regressor.intercept_

1.1999999999999993

In [33]:
regressor.coef_

array([ 0.66666667, -0.4       ])

In [21]:
y_pred_train = regressor.predict(X_train)

In [23]:
X_train

     x1    x2
1  12.0   9.0
3  16.5  18.0
0   7.5   6.0
4  19.5  21.0

In [22]:
y_pred_train

array([5.6, 5. , 3.8, 5.8])

In [24]:
y_pred_test = regressor.predict(X_test)

In [25]:
y_pred_test

array([5., 6.])

In [26]:
X_test

     x1    x2
5  21.0  25.5
2  13.5  10.5

In [28]:
mean_squared_error(y_test, y_pred_test)

0.17999999999999872

In [29]:
# Train performance
math.sqrt(mean_squared_error(y_train, y_pred_train))

1.6616296724220897e-15

In [30]:
# Test performance
math.sqrt(mean_squared_error(y_test, y_pred_test))

0.424264068711927

In [31]:
r2_score(y_train, y_pred_train)

1.0

In [32]:
r2_score(y_test, y_pred_test)

-3.49999999999996