<a href="https://colab.research.google.com/github/Ramkirks/My_Python-Code/blob/main/Practice04_11_22_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##find the average of N number

In [2]:
def average(num):
  list_of_no=[]
  for i in range(num):
    number=int(input("Enter the number: "))
    list_of_no.append(number)

  return f'the average is {sum(list_of_no)/num}'

num = int(input("Enter How many number want to do average"))
average(num)

Enter How many number want to do average5
Enter the number: 25
Enter the number: 66
Enter the number: 556
Enter the number: 265265
Enter the number: 655

'the average is 53313.4'

##Match key values in two dictionaries in Python

In [5]:
x = {"key1":1,"key2":3,"key3":4,"key4":6}
y={"key1":1, "key3":4,"key4":5}

for key, value in set(x.items()) & set(y.items()):
  print("%s:%s is present in both x and y" %(key, value))

key1:1 is present in both x and y
key3:4 is present in both x and y

##Count the values associated with key in a dictionary in Python

In [6]:
student = [{"id":1,"success":True,"name":"Rama"},{"id":2,"success":False,"name":"Roja"},{"id":3,"success":True,"name":"Raoni"}]
print(sum(i['success'] for i in student))

2