<a href="https://colab.research.google.com/github/Ramkirks/My_Python-Code/blob/main/Practice_06_11_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**print Full Triangle Pyramid pattern**

In [7]:
def pattern(rows):
  space =rows-1
  for i in range (0,rows):
    for j in range(0,space):
      print(end=" ")
    space =space- 1
    for k in range (0,i+1):
      print("*",end=" ")
    print()


rows =int(input("Enter the number of rows: "))
pattern(rows)

Enter the number of rows: 8
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

In [9]:
for i in range(5,0,-1):
  print(i)
  print()

5

4

3

2

1

In [12]:
def pattern1(n):
  for row in range(0,n):
    for col in range(0,n):
      if row==0 or col == n-1 or row == col:
        print("*", end= "")
      else:
        print(end= " ")
    print()


n=int(input("Enter the number: "))
pattern1(n)

Enter the number: 5
*****
 *  *
  * *
   **
    *